<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/check/" method="POST">
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
    <button type="submit">Predict</button></form>
    </div>
    {{value[0]}}
    <div>{% if value ==1 %}
        <p style="color: red;">Spam </p>
        {% elif value == 0 %}
        <p style="color: rgb(28, 224, 94);">Not a Spam </p>
        {% endif %}
    </div> 
</body>
</html>